discord:
  bot:
    token: // 디스코드 봇 토큰 추가

spring:
  application:
    name: studybot

  datasource:
    url: jdbc:mysql://localhost:3306/studybot?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    username:
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true

voice-channel:
  target-channel-name: // 디스코드 음성 채널 이름

text-channel:
  # 입퇴장 로그용 채널 (VoiceChannelTracker에서 사용)
  target-channel-name: "📘공부-기록"

  # 📊 일간/주간/월간 통계용 채널 (DailySummaryService에서 사용)
  summary-channel-name: "📊공부-통계"
